$minclock: 300px;
$prefered: 20vw;
$maxclock: 1000px;

.timer-container {  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      ". Clock ."
      "Start Stop Pomodoro";
    }

#start { grid-area: Start; }
  
#stop { grid-area: Stop; }
  
#pomodoro { grid-area: Pomodoro; }

#back-face{
    grid-area: Clock;
    margin: auto;
    aspect-ratio: 1 / 1;
    background-color: rgb(27, 24, 24);
    width: clamp($minclock, $prefered, $maxclock);
    border-radius: 50%;
}

.line {
    grid-area: Clock;
    width: clamp(4px, 0.5vw, 8px);
    height: clamp(calc($minclock - 10px), calc($prefered - 20px), $maxclock);
    background-color: white;
    margin: auto;
}

#line-1{
    transform: rotate(30deg);
}

#line-2{
    transform: rotate(60deg);
}

#line-3{
    transform: rotate(90deg);
}

#line-4{
    transform: rotate(120deg);
}

#line-5{
    transform: rotate(150deg);
}

#line-6{
    transform: rotate(180deg);
}

#front-face{
    grid-area: Clock;
    aspect-ratio: 1 / 1;
    background-color: rgb(0, 0, 0);
    height: clamp(calc($minclock - 40px), calc($prefered - 80px), $maxclock);
    border-radius: 50%;
    margin: auto;
    z-index: 1;
}

.hand-container{
    grid-area: Clock;
    z-index: 1;
    transform: translate(50%, 50%);
    
}

.hand {
    width: clamp(4px, 0.5vw, 8px);
    height: clamp(calc(calc($minclock - 40px)/2), calc(calc($prefered - 80px)/2), $maxclock);
    background-color: red;
    transform-origin: center top;
    transform: rotate(180deg);
    
}

@keyframes pomodoro {
    from {transform: rotate(180deg);}
    to {transform: rotate(540deg);}
}

.hand.on {
    animation-name: pomodoro;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-container > * {
    background-color: grey;
    aspect-ratio: 1/1;
    height: 10rem;
    border-radius: 50%;
}

    
