//In style.scss I will apply global styles to things like
//lists and divs. These settings can be overridden on a
//case by case basis.

html{
    height: 100%;
    body{
        background-color: whitesmoke;
        min-height: 100%;
        margin: 0px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.landing{
    background-image: url('../Resources/Images/logo_busy_bee.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 90%;
    
    a {
        display: inline-block;
        margin: 0px;
        max-width: 4rem;
        transform: translate(65vw, 65vh);
        //transform: translateY(50%)
    }
}
.home{
    background-image: url('../Resources/Images/background_honeycomb.png');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}



