body{
    background-color: whitesmoke;
}
.landing{
    background-image: url('../Resources/Images/logo_busy_bee.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



